#chat-form {
background-color: transparent;
margin-top: 200px; }

#chat-body {
background-color: #ccc;
margin-top: 100px;
height: 600px; }

#main {
width: 50%; }

.entrada {
background-color: #aaa;
margin: 2px 10px; }

#content {
width: auto; }
