.container {
    margin-top: 4em;
}

.input-group {
    margin-bottom: 1em;
}

code {
    background-color: blue;
}

.table > tbody > tr.jorge > td, .table > thead th.jorge, .table > tbody td.magenta {
    background-color: magenta;
}
